
/* * {
	transform-style: preserve-3d;
	font-family: helvetica;
} */
  nav {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    overflow: hidden;
    border: 1px solid rgba(197, 161, 115, 0.815);
    background: rgba(197, 161, 115, 0.815);

    -webkit-perspective: 1000px;
    font-family: Impact, Charcoal, sans-serif
  }
  
  
  nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 1.2% 5.5%;
    text-decoration: none;
    float: left;
  }
  
  
  nav a:hover:not(.active) {
    background-color:  rgb(238, 234, 234);
    
  }
  link{
    text-align: center;
  }

